.button {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*#fde7bd*/
.badge-on::after {
    background-color: #ea3030;
    color: #fff;
    border-radius: 50%;
    content: attr(data-content);
    font-size: 10px;
    font-weight: 700;
    height: 15px;
    width: 15px;
    position: absolute;
    transform: translate(15px, -15px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.left {
    margin-right: auto;
}

.right {
    margin-left: auto;
}
