.button {
    width: 40px;
    height: 40px;
    min-width: 40px;
    min-height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #fff;
    background-color: #3f3f62;
}

    .button:hover {
        background-color: #373756;
    }

/*#fde7bd*/
.badge-on::after {
    background-color: #ea3030;
    color: #fff;
    border-radius: 50%;
    content: attr(data-content);
    font-size: 10px;
    font-weight: 700;
    height: 15px;
    width: 15px;
    position: absolute;
    transform: translate(15px, -15px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.transparent {
    background-color: transparent;
}

    .transparent:hover {
        background-color: #00000020;
    }

.left {
    margin-right: auto;
}

.right {
    margin-left: auto;
}
