.device {
    color: #fff;
    background-color: #393a5f;
    padding: 10px;
    height: 50px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

    .device:hover {
        background-color: #43456f;
    }

    .device:focus-within {
        background-color: #4f5182;
    }

    .device .device-info {
        flex: 1;
        display: flex;
        align-items: center;
    }

    .device .send-btn {
        background-color: #4a4b74;
        border-radius: 5px;
        padding: 5px;
        height: 15px;
        width: 15px;
    }

.hidden {
    display: none;
}