.device {
    color: #fff;
    background-color: #393a5f;
    height: 50px;
    padding-left: 15px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    overflow: hidden;
}

    .device:hover {
        background-color: #43456f;
    }

    .device:focus-within {
        background-color: #4f5182;
    }

    .device .device-info {
        flex: 1;
        display: flex;
        align-items: center;
    }

    .device .send-btn {
        background-color: #4a4b74;
        height: 100%;
        width: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 25px;
    }

    .device .cancel-btn {
        height: 100%;
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        box-sizing: border-box;
    }

.hidden {
    display: none !important;
}