@page "/sendfiles"
@inject NavigationService NavigationService
@inject IStorageService storageService

<header class="header">
    <BadgeButton Class="right" OnClick="@PickFiles">
        <i class="ph ph-plus"></i>
    </BadgeButton>
    <BadgeButton Class="transparent left" OnClick="@(() => NavigationService.NavigateBack())">
        <i class="ph ph-arrow-left"></i>
    </BadgeButton>
</header>

<div class="files">
    @foreach (string name in SendFiles)
    {
        <FileComponent FilePath="@name"></FileComponent>
    }
</div>

@code {
    [CascadingParameter(Name = "SendFiles")]
    public List<string> SendFiles { get; set; }

    private async Task PickFiles()
    {
        List<string> files = await storageService.PickFilesAsync();
        foreach (var file in files)
        {
            if (!string.IsNullOrEmpty(file))
            {
                SendFiles.Add(file);
            }
        }
    }
}
