* {
    margin: 0;
    padding: 0;
    user-select: none;
    font-family: 'Inter', sans-serif;
}

    *:focus {
        outline: none;
    }

#app, html, body {
    height: 100vh;
}

.running-text {
    animation: moving infinite linear alternate;
    animation-delay: 3s;
}

@keyframes moving {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(calc(-100% + var(--container-width)));
    }
}