@inherits LayoutComponentBase
@inject NavigationService NavigationService
@inject IStorageService StorageService

<CascadingValue Value="@SendFiles" Name="SendFiles">
    <CascadingValue Value="@SaveFolder" Name="SaveFolder">
        <CascadingValue Value="@SetFolder" Name="SetFolder">
        <div class="page">
            <main class="main">
                @Body
            </main>
@*             <div class="menu">
                <div class="item">
                    Local
                </div>
                <div class="item">
                    Global
                </div>
            </div> *@
        </div>
        </CascadingValue>
    </CascadingValue>
</CascadingValue>

@code {
    public List<string> SendFiles { get; set; } = new();

    public string? SaveFolder { get; set; }

    public EventCallback<string> SetFolder { get; set; } 

    protected override async Task OnInitializedAsync()
    {
        SaveFolder = StorageService.GetDefaultFolder();

        SetFolder = EventCallback.Factory.Create<string>(this, OnSetFolder);
        NavigationService.NavigateTo("local");
    }

    private void OnSetFolder(string path)
    {
        SaveFolder = path;
    }
}
